.header{
    text-align: center;
}

ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: grey;
}
li{
    float: left;
}
li a{
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: ;
}
li a:hover{
    background-color: navy;
}
figure{
    text-align: center;
}
body{
    background-color: floralwhite;
}
